.calendar {
  width: 280px;
  padding: 10px;
  background-color: white;
  position: absolute; 
  font-family: "Courier New", Courier, monospace;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.calendar-header button {
  border: none;
  background-color: transparent;
  font-weight: 900;
}
